<div class="country-card">
    <div class="country-card__lang">
        <ul class="lang-list">
            <li class="lang-list__list">
                {{countryName}}
            </li>
        </ul>
    </div>
</div>